<!-- Notes popup for a category object. -->
<div id="notesPopup" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-3xl flex flex-col flex-1 max-h-[90vh] overflow-y-auto">
        <!-- Header -->
        <h3 id="noteHeader" class="text-xl font-bold mb-4">Notes</h3>
        <textarea name="notesOfObject" id="notesOfObjectOutput" rows="30" disabled class="w-full px-3 py-2 mb-4 overflow-y-auto border rounded resize-none"></textarea>
        <!-- Close popup button. -->
        <div id="closeNotesButton" class="mt-4 bg-gray-300 text-center text-gray-800 py-2 px-4 rounded hover:bg-gray-400">
            Close
        </div>
    </div>
</div>