{% load dict_filters %}

<!-- Table -->
<div class="bg-white rounded-lg shadow-md overflow-x-auto">
    <table class="min-w-full">
        <thead class="bg-gray-50 border-b border-gray-200">
            <tr>
                {% for field in fields_given %}
                    <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for object in page_obj %}
                <tr class="hover:bg-gray-50">
                    {% for attribute in object_attributes_given %}
                        <td class="py-4 px-6 text-sm text-gray-900">{{ object|get_attr:attribute }}</td>
                    {% endfor %}

                    {% if object|has_attr:"notes" %}
                        <!-- Notes column: View button -->
                        <td class="py-4 px-6 text-sm">
                            <div class="flex space-x-2">
                                <button
                                    onclick="openNotesPopup(
                                        `{{ object.notes }}`)"
                                    class="bg-[#b49494] text-white py-1 px-3 rounded text-sm hover:bg-amber-900"
                                    >
                                    View
                                </button>
                            </div>
                        </td>
                    {% endif %}
                    
                    <!-- Action Buttons. -->
                    <td class="py-4 px-6 text-sm">
                        <div class="flex space-x-2">
                            <!-- Edit Button -->
                            {{ edit_button|safe }}
                            <!-- Delete Button -->
                            <button onclick="openDeletePopup('{{ object.id }}', '{{ object.name }}')"
                                class="bg-red-600 text-white py-1 px-3 rounded text-sm hover:bg-red-700">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="py-8 px-6 text-center text-gray-500">No {{ stock_name|default:"item" }} records found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>