<!-- Pagination. -->
<div class="mt-6 text-sm">
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
</div>

<div class="mt-2">
    <nav>
        <ul class="flex space-x-1 list-none font-semibold text-xs">
            <!-- First and Previous. -->
            {% if page_obj.has_previous %}
                <a href="?page=1" class="min-w-[54px] border rounded-md bg-white hover:bg-gray-300 font-medium text-black px-2 py-2"><li>&laquo; First</li></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="border rounded-md bg-white hover:bg-gray-300 font-medium text-md text-black px-2 py-2"><li><i class="fa-solid fa-arrow-left"></i></li></a>
            {% else %}    
                <li class="min-w-[54px] border rounded-md bg-gray-200 text-gray-700 px-2 py-2">&laquo; First</li>
                <li class="border rounded-md bg-gray-200 text-md text-gray-700 px-2 py-2"><i class="fa-solid fa-arrow-left"></i></li>
            {% endif %}

            <!-- Going backward from current page. -->
            {% for page_number in backward_pages %}
                <a href="?page={{ page_number }}" class="border bg-white hover:bg-gray-300 rounded-md font-medium text-black px-2 py-2"><li>{{ page_number }}</li></a>
            {% endfor %}
                
            <!-- Add current page number. -->
            <a href="?page={{ page_obj.number }}" class="border bg-green-700 hover:bg-green-800 rounded-md font-medium text-white px-2 py-2"><li>{{ page_obj.number }}</li></a>
            
            
            <!-- Going forward from current page. -->
            {% for page_number in forward_pages %}
                <a href="?page={{ page_number }}" class="border bg-white hover:bg-gray-300 rounded-md font-medium text-black px-2 py-2"><li>{{ page_number }}</li></a>
            {% endfor %}


            <!-- Next and Last. --> 
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="border bg-white hover:bg-gray-300 rounded-md font-medium text-md text-black px-2 py-2"><li><i class="fa-solid fa-arrow-right"></i></li></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="min-w-[54px] border bg-white hover:bg-gray-300 rounded-md font-medium text-black px-2 py-2"><li>Last &raquo;</li></a>
            {% else %}
                <li class="border rounded-md bg-gray-200 text-md text-gray-700 px-2 py-2"><i class="fa-solid fa-arrow-right"></i></li>
                <li class="min-w-[54px] border rounded-md bg-gray-200 text-gray-700 px-2 py-2">Last &raquo;</li>
            {% endif %}

            <div class="min-w-[100px]">
                <form action="" method="GET">
                    <input type="number" name="page" id="searchPageNumberID" min="1" class="min-w-[66px] border bg-white rounded-md font-medium text-md text-black px-2 py-2 w-1/3">
                    <button type="submit" class="text-md pl-1">Go &raquo;</button>
                </form>
            </div>
        </ul>
    </nav>
</div>