{% extends 'default_list.html' %}
{% load dict_filters %}
{% load static %}

{% block title %}Crops | BlackCreek Sync{% endblock %}

{% block header_title %}
    {% include 'partials/header_text.html' with text_given="Crop Management" %}
{% endblock %}

{% block add_list_button %}
    {% include 'partials/default_list/add_button.html' with button_text="Add Crop" %}
{% endblock %}

{% block search_form_popup %}
    {% capture as search_form_content %}
        <!-- Search Form Content -->
        <!-- Search by ID -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="py-3">
                        Search by ID
                    </p>
                </div>
                <div class="w-1/2">
                    <input type="number" id="idSearch" name="{{ form.id.name }}" placeholder="e.g., 102" value="{{ form.id.value|default:'' }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Name -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="py-3">
                        Search by Name
                    </p>
                </div>
                <div class="w-1/2">
                    <input type="text" id="nameSearch" name="{{ form.name.name }}" placeholder="Enter item name" value="{{ form.name.value|default:'' }}"
                    maxlength="{{ max_input_text_length }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Crop Type -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="py-3">
                        Crop Type
                    </p>
                </div>
                <div class="w-1/2">
                    <input type="text" id="cropTypeSearch" name="{{ form.crop_type.name }}" placeholder="Enter crop type" value="{{ form.crop_type.value|default:'' }}"
                    maxlength="{{ max_input_text_length }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Planting Date -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="">
                        Planting Date
                    </p>
                </div>
                <div class="w-1/2">
                    <select name="planting_date_mode" id="id_planting_date_mode" onchange="toggleInputs('id_planting_date_mode','planting_date_inputs_container')">
                        <option value="all" {% if form.planting_date_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Date</option>
                        <option value="range" {% if form.planting_date_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Planting Date Dropdown. -->
        <div id="planting_date_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="date" name="min_planting_date" value="{{ form.min_planting_date.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="date" name="max_planting_date" value="{{ form.max_planting_date.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Harvest Date -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="">
                        Harvest Date
                    </p>
                </div>
                <div class="w-1/2">
                    <select name="harvest_date_mode" id="id_harvest_date_mode" onchange="toggleInputs('id_harvest_date_mode','harvest_date_inputs_container')">
                        <option value="all" {% if form.harvest_date_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Date</option>
                        <option value="range" {% if form.harvest_date_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Harvest Date Dropdown. -->
        <div id="harvest_date_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="date" name="min_harvest_date" value="{{ form.min_harvest_date.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="date" name="max_harvest_date" value="{{ form.max_harvest_date.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Expected Yield -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p>Expected Yield</p>
                </div>
                <div class="w-1/2">
                    <select name="expected_yield_mode" id="id_expected_yield_mode" onchange="toggleInputs('id_expected_yield_mode','expected_yield_inputs_container')">
                        <option value="all" {% if form.expected_yield_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Expected Yield</option>
                        <option value="range" {% if form.expected_yield_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Expected Yield Dropdown. -->
        <div id="expected_yield_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="number" name="min_expected_yield" value="{{ form.min_expected_yield.value|default:'' }}" placeholder="Min Expected Yield"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="number" name="max_expected_yield" value="{{ form.max_expected_yield.value|default:'' }}" placeholder="Max Expected Yield"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Yield Efficiency -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p>Yield Efficiency (%)</p>
                </div>
                <div class="w-1/2">
                    <select name="yield_efficiency_mode" id="id_yield_efficiency_mode" onchange="toggleInputs('id_yield_efficiency_mode','yield_efficiency_inputs_container')">
                        <option value="all" {% if form.yield_efficiency_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Yield Efficiency</option>
                        <option value="range" {% if form.yield_efficiency_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Yield Efficiency Dropdown. -->
        <div id="yield_efficiency_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="number" name="min_yield_efficiency" value="{{ form.min_yield_efficiency.value|default:'' }}" placeholder="Min Yield Efficiency"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="number" name="max_yield_efficiency" value="{{ form.max_yield_efficiency.value|default:'' }}" placeholder="Max Yield Efficiency"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Water Usage (liters) -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p>Water Usage (Liters)</p>
                </div>
                <div class="w-1/2">
                    <select name="water_usage_mode" id="id_water_usage_mode" onchange="toggleInputs('id_water_usage_mode','water_usage_inputs_container')">
                        <option value="all" {% if form.water_usage_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Water Usage</option>
                        <option value="range" {% if form.water_usage_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Water Usage (liters) Dropdown. -->
        <div id="water_usage_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="number" name="min_water_usage" value="{{ form.min_water_usage.value|default:'' }}" placeholder="Min Water Usage"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="number" name="max_water_usage" value="{{ form.max_water_usage.value|default:'' }}" placeholder="Max Water Usage"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Next Checkup Date -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="">
                        Next Checkup Date
                    </p>
                </div>
                <div class="w-1/2">
                    <select name="next_checkup_mode" id="id_next_checkup_mode" onchange="toggleInputs('id_next_checkup_mode','next_checkup_inputs_container')">
                        <option value="all" {% if form.next_checkup_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Date</option>
                        <option value="range" {% if form.next_checkup_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Next Checkup Date Dropdown. -->
        <div id="next_checkup_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="date" name="min_next_checkup" value="{{ form.min_next_checkup.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="date" name="max_next_checkup" value="{{ form.max_next_checkup.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Region -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <p class="py-3">
                        Region
                    </p>
                </div>
                <div class="w-1/2">
                    <input type="text" id="regionSearch" name="{{ form.region.name }}" placeholder="Enter region" value="{{ form.region.value|default:'' }}"
                    maxlength="{{ max_input_text_length }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
    {% endcapture %}
    {% include "partials/default_list/search_filter_popup.html" with form_inside=search_form_content %}
{% endblock %}

{% block add_form_popup %}
    {% capture as add_form_content %}
        <!-- Add form content. -->
        <div class="flex space-x-2 justify-between w-full">
            <div class="w-1/2">
                <label class="block mb-2">Name: <span class="text-red-500">*</span></label>
                <input type="text" name="name" class="w-full border rounded px-3 py-2 mb-4" maxlength="{{ max_input_text_length }}" required />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Crop Type: <span class="text-red-500">*</span></label>
                <input type="text" name="crop_type" class="w-full border rounded px-3 py-2 mb-4" maxlength="{{ max_input_text_length }}" required />
            </div>
        </div>

        <div class="flex space-x-2 justify-between w-full">
            <div class="w-1/2">
                <label class="block mb-2">Planting Date:</label>
                <input type="date" name="planting_date" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Harvest Date:</label>
                <input type="date" name="harvest_date" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
        </div>

        <div class="flex space-x-2 justify-between w-full">
            <div class="w-1/2">
                <label class="block mb-2">Expected Yield:</label>
                <input type="number" step="0.01" name="expected_yield" oninput="limitInputLength(this)" 
                 maxlength="{{ max_input_unit_length }}" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Yield Efficiency (%):</label>
                <input type="number" step="0.01" name="yield_efficiency" oninput="limitInputLength(this)"
                 maxlength="{{ max_input_unit_length }}" class="w-full border rounded px-3 py-2 mb-4" value="0" />
            </div>
        </div>

        <div class="flex space-x-2 justify-between w-full">
            <div class="w-1/2">
                <label class="block mb-2">Water Usage (Liters):</label>
                <input type="number" step="0.01" name="water_usage_liters" oninput="limitInputLength(this)"
                 maxlength="{{ max_input_unit_length }}" class="w-full border rounded px-3 py-2 mb-4" value="0" />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Next Checkup:</label>
                <input type="date" name="next_checkup" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
        </div>

        <div class="flex space-x-2 justify-between w-full">
            <div class="w-1/2">
                <label class="block mb-2">Region:</label>
                <input type="text" name="region" maxlength="{{ max_input_text_length }}" class="w-full border rounded px-3 py-2 mb-4" maxlength="50" />
            </div>
            <div class="w-1/2"></div>
        </div>

        <!-- Notes for the Crop. -->
        <label class="block mb-2">Notes:</label>
        <textarea name="notes" rows="10" maxlength="{{ max_textbox_length }}" class="w-full border rounded px-3 py-2 mb-4 overflow-y-auto resize-none"></textarea>
    {% endcapture %}
    {% include "partials/default_list/add_form_popup.html" with stock_name="Crop" form_inside=add_form_content %}
{% endblock %}

{% block edit_form_popup %}
    {% capture as edit_form_content %}
        <!-- Edit Popup -->
        <div class="w-full flex justify-between space-x-2">
            <div class="w-1/2">
                <label class="block mb-2">Name: <span class="text-red-500">*</span></label>
                <input type="text" name="name" id="editName" maxlength="{{ max_input_text_length }}" class="w-full border rounded px-3 py-2 mb-4" maxlength="100" required />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Crop Type: <span class="text-red-500">*</span></label>
                <input type="text" name="crop_type" id="editCropType" maxlength="{{ max_input_text_length }}" class="w-full border rounded px-3 py-2 mb-4" maxlength="100" required />
            </div>
        </div>

        <div class="w-full flex justify-between space-x-2">
            <div class="w-1/2">
                <label class="block mb-2">Planting Date:</label>
                <input type="date" name="planting_date" id="editPlantingDate" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Harvest Date:</label>
                <input type="date" name="harvest_date" id="editHarvestDate" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
        </div>

        <div class="w-full flex justify-between space-x-2">
            <div class="w-1/2">
                <label class="block mb-2">Expected Yield:</label>
                <input type="number" step="0.01" name="expected_yield" id="editExpectedYield" oninput="limitInputLength(this)" 
                 maxlength="{{ max_input_unit_length }}" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Yield Efficiency (%):</label>
                <input type="number" step="0.01" name="yield_efficiency" id="editYieldEfficiency" oninput="limitInputLength(this)"
                 maxlength="{{ max_input_unit_length }}" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
        </div>

        <div class="w-full flex justify-between space-x-2">
            <div class="w-1/2">
                <label class="block mb-2">Water Usage (Liters):</label>
                <input type="number" step="0.01" name="water_usage_liters" id="editWaterUsageLiters" oninput="limitInputLength(this)" 
                 maxlength="{{ max_input_unit_length }}" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
            <div class="w-1/2">
                <label class="block mb-2">Next Checkup:</label>
                <input type="date" name="next_checkup" id="editNextCheckup" class="w-full border rounded px-3 py-2 mb-4" />
            </div>
        </div>

        <div class="w-full flex justify-between space-x-2">
            <div class="w-1/2">
                <label class="block mb-2">Region:</label>
                <input type="text" name="region" id="editRegion" maxlength="{{ max_input_text_length }}" class="w-full border rounded px-3 py-2 mb-4" maxlength="50" />
            </div>
            <div class="w-1/2"></div>
        </div>

        <label class="block mb-2">Notes:</label>
        <textarea name="notes" id="editNotes" rows="10" maxlength="{{ max_textbox_length }}" class="w-full border rounded px-3 py-2 mb-4 overflow-y-auto resize-none"></textarea>
    {% endcapture %}
    {% include "partials/default_list/edit_form_popup.html" with stock_name="Crop" form_inside=edit_form_content %}
{% endblock %}

{% block delete_popup %}
    {% include "partials/default_list/delete_popup.html" with stock_name="Crop" %}
{% endblock %}

{% block notes_popup %}
    {% include "partials/default_list/notes_popup.html" with stock_name="Crop" %}
{% endblock %}

{% block table %}
    {% capture as custom_crop_header %}
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">ID</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Name</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Crop Type</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Planting Date</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Harvest Date</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Expected Yield</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Yield Efficiency</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Water Usage</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Next Checkup</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Region</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Notes</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Actions</th>
    {% endcapture %}
    {% capture as custom_crop_rows %}
        {% for object in page_obj %}
            <tr class="hover:bg-gray-50">
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.id }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.name|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.crop_type|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.planting_date|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.harvest_date|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.expected_yield|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.yield_efficiency|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.water_usage_liters|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.next_checkup|default:"—" }}</td>
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">{{ object.region|default:"—" }}</td>

                {% if object.notes %}
                    <td class="py-4 px-6 text-sm">
                        <button onclick="openNotesPopup(`Notes of Crop`,`{{ object.notes }}`)" class="bg-[#b49494] text-white py-1 px-3 rounded text-sm hover:bg-amber-900">
                            View
                        </button>
                    </td>
                {% else %}
                    <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">—</td>
                {% endif %}
                
                <td class="py-4 px-6 text-sm">
                    <div class="flex space-x-2">
                        <button
                        onclick="openEditPopup(
                            ['editId','{{ object.id }}'],
                            ['editName','{{ object.name|escapejs }}'],
                            ['editCropType','{{ object.crop_type|escapejs }}'],
                            ['editPlantingDate','{{ object.planting_date|date:'Y-m-d' }}'],
                            ['editHarvestDate','{{ object.harvest_date|date:'Y-m-d' }}'],
                            ['editExpectedYield','{{ object.expected_yield }}'],
                            ['editYieldEfficiency','{{ object.yield_efficiency }}'],
                            ['editWaterUsageLiters','{{ object.water_usage_liters }}'],
                            ['editNextCheckup','{{ object.harvest_date|date:'Y-m-d' }}'],
                            ['editRegion','{{ object.region|escapejs }}'],
                            ['editNotes','{{ object.notes|escapejs }}']
                        )"
                        class="bg-[#0D65A0] text-white py-1 px-3 rounded text-sm hover:bg-blue-700"
                        >
                            Edit
                        </button>

                        <button onclick="openDeletePopup('{{ object.id }}', '{{ object.name|escapejs }}')"
                            class="bg-red-600 text-white py-1 px-3 rounded text-sm hover:bg-red-700">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="11" class="py-8 px-6 text-center text-gray-500">No crop records found.</td>
            </tr>
        {% endfor %}
    {% endcapture %}
    {% include "partials/default_list/table.html" with table_header_content=custom_crop_header table_rows_content=custom_crop_rows %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/crop_list.js' %}"></script>
{% endblock %}
