{% extends 'base.html' %}
{% load dict_filters %}

{% block title %}Recent Activities | BlackCreek Sync{% endblock %}

{% block content %}
{% block header_title %}
    {% include 'partials/header_text.html' with text_given="Recent Activities List" %}
{% endblock %}

{% url 'download_all_activities' as download_activities_url %}
{% include 'partials/url_button.html' with button_id="downloadAllRecentActivity" button_url=download_activities_url button_text="Download all activity logs." %}

{% include 'partials/error_messages.html' %}

{% block table %}
    {% capture as custom_activities_header %}
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Activity</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Details</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">User</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Time</th>
    {% endcapture %}
    {% capture as custom_activities_rows %}
        {% for activity in page_obj %}
            <tr class="hover:bg-gray-50">
                <td class="py-4 px-6 text-sm text-gray-900">{{ activity.activity }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ activity.location }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ activity.user }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ activity.time }}</td>
            </tr>
        {% empty %}
            <tr class="border-t">
                <td class="py-4 px-6 text-sm text-gray-900">No recent activity found.</td>
            </tr>
        {% endfor %}
    {% endcapture %}
    {% include "partials/default_list/table.html" with table_header_content=custom_activities_header table_rows_content=custom_activities_rows %}
{% endblock %}

{% include 'partials/pagination.html' %}

{% endblock %}