{% extends 'default_list.html' %}
{% load dict_filters %}
{% load static %}

{% block title %}Equipment | BlackCreek Sync{% endblock %}

{% block header_title %}
    {% include 'partials/header_text.html' with text_given="Transaction Management" %}
{% endblock %}

{% block add_list_button %}
    {% include 'partials/default_list/add_button.html' with button_text="Add Transaction" %}
{% endblock %}

{% block search_form_popup %}
    {% capture as search_form_content %}
        <!-- Search Form Content -->
        <!-- Search by ID -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p class="py-3">
                        Transaction ID
                    </p>
                </div>
                <div class="w-1/2 items-center">
                    <input type="number" id="transactionIdSearch" name="{{ form.id.name }}" placeholder="e.g., 102" value="{{ form.id.value|default:'' }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Item Type -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p class="py-3">
                        Item Type
                    </p>
                </div>
                <div class="w-1/2 items-center">
                    <select name="{{ form.item_type.name }}" id="itemTypeSearch" data-has-dropdown="N" class="w-full border rounded px-3 py-2">
                        <option value="None" {% if form.item_type.value == 'None' %}selected{% endif %}>None Selected</option>
                        <option value="Crop" {% if form.item_type.value == 'Crop' %}selected{% endif %}>Crop</option>
                        <option value="Livestock" {% if form.item_type.value == 'Livestock' %}selected{% endif %}>Livestock</option>
                        <option value="Equipment" {% if form.item_type.value == 'Equipment' %}selected{% endif %}>Equipment</option>
                        <option value="Supplies" {% if form.item_type.value == 'Supplies' %}selected{% endif %}>Supplies</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Search by Item ID -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p class="py-3">
                        Item ID
                    </p>
                </div>
                <div class="w-1/2 items-center">
                    <input type="number" id="ItemIdSearch" name="{{ form.item_id.name }}" placeholder="e.g., 102" value="{{ form.item_id.value|default:'' }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Item Name -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p class="py-3">
                        Item Name
                    </p>
                </div>
                <div class="w-1/2 items-center">
                    <input type="text" id="itemNameSearch" name="{{ form.name.name }}" placeholder="Enter item name" value="{{ form.name.value|default:'' }}"
                    maxlength="{{ max_input_text_length }}" class="w-full rounded-lg p-2 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Transaction Type -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p class="py-3">
                        Transaction Type
                    </p>
                </div>
                <div class="w-1/2 items-center">
                    <select name="{{ form.transaction_type.name }}" id="transactionTypeSearch" data-has-dropdown="N" class="w-full border rounded px-3 py-2">
                        <option value="None" {% if form.transaction_type.value == 'None' %}selected{% endif %}>None Selected</option>
                        <option value="Sale" {% if form.transaction_type.value == 'Sale' %}selected{% endif %}>Sale</option>
                        <option value="Purchase" {% if form.transaction_type.value == 'Purchase' %}selected{% endif %}>Purchase</option>
                        <option value="Return" {% if form.transaction_type.value == 'Return' %}selected{% endif %}>Return</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Search by Quantity -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p>Quantity</p>
                </div>
                <div class="w-1/2 items-center">
                    <select name="qty_mode" id="id_qty_mode" onchange="toggleInputs('id_qty_mode','qty_inputs_container')" data-has-dropdown="Y" class="w-full border rounded px-3 py-2">
                        <option value="all" {% if form.qty_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Quantity</option>
                        <option value="range" {% if form.qty_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                        <option value="highest" {% if form.qty_mode.value == 'highest' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Highest to Lowest</option>
                        <option value="lowest" {% if form.qty_mode.value == 'lowest' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Lowest to Highest</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Quantity Dropdown. -->
        <div id="qty_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="number" name="min_qty" value="{{ form.min_qty.value|default:'' }}" placeholder="Min Quantity"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="number" name="max_qty" value="{{ form.max_qty.value|default:'' }}" placeholder="Max Quantity"
                     maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
        <!-- Search by Transaction Date -->
        <div class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2 items-center">
                    <p class="">
                        Transaction Date
                    </p>
                </div>
                <div class="w-1/2 items-center">
                    <select name="transaction_date_mode" id="id_transaction_date_mode" onchange="toggleInputs('id_transaction_date_mode','transaction_date_inputs_container')" data-has-dropdown="Y" class="w-full border rounded px-3 py-2">
                        <option value="all" {% if form.transaction_date_mode.value == 'all' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Any Date</option>
                        <option value="range" {% if form.transaction_date_mode.value == 'range' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Specific Range</option>
                        <option value="highest" {% if form.transaction_date_mode.value == 'highest' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Highest to Lowest</option>
                        <option value="lowest" {% if form.transaction_date_mode.value == 'lowest' %}selected{% endif %} class="w-full rounded-lg p-1 border border-gray-800">Lowest to Highest</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Transaction Date Dropdown. -->
        <div id="transaction_date_inputs_container" class="w-full">
            <div class="flex space-x-2 justify-between w-full">
                <div class="w-1/2">
                    <input type="date" name="min_transaction_date" value="{{ form.min_transaction_date.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
                <div class="w-1/2">
                    <input type="date" name="max_transaction_date" value="{{ form.max_transaction_date.value }}" class="w-full rounded-lg p-1 border border-gray-800">
                </div>
            </div>
        </div>
    {% endcapture %}
    {% include "partials/default_list/search_filter_popup.html" with form_inside=search_form_content %}
{% endblock %}

{% block add_form_popup %}
    {% capture as add_form_content %}
        <!-- Add form content. -->
		<div class="flex space-x-2 justify-between w-full">
			<div class="w-1/2">
				<!-- Item Type -->
				<label class="block mb-2">Item Type: <span class="text-red-500">*</span></label>
                <select name="item_type" class="w-full border rounded px-3 py-2" required>
                    <option value="Crop">Crop</option>
                    <option value="Supplies">Supplies</option>
                    <option value="Livestock">Livestock</option>
                    <option value="Equipment">Equipment</option>
                </select>
			</div>
			<div class="w-1/2">
				<!-- Item ID -->
				<label class="block mb-2">Item ID: <span class="text-red-500">*</span></label>
				<input type="number" name="item_id" class="w-full border rounded px-3 py-2 mb-4" required />
			</div>
		</div>
        <div class="flex space-x-2 justify-between w-full">
			<div class="w-1/2">
				<!-- Item Name -->
				<label class="block mb-2">Item Name: <span class="text-red-500">*</span></label>
				<input type="text" name="item_name" maxlength="{{ max_input_text_length}}" class="w-full border rounded px-3 py-2 mb-4" required />
			</div>
			<div class="w-1/2">
				<!-- Transaction Type -->
				<label class="block mb-2">Transaction Type: <span class="text-red-500">*</span></label>
				<select name="transaction_type" class="w-full border rounded px-3 py-2" required>
                    <option value="Sale">Sale</option>
                    <option value="Purchase">Purchase</option>
                    <option value="Return">Return</option>
                </select>
			</div>
		</div>
        <div class="flex space-x-2 justify-between w-full">
			<div class="w-1/2">
				<!-- Quantity -->
				<label class="block mb-2">Quantity: <span class="text-red-500">*</span></label>
				<input type="number" name="quantity" maxlength="{{ max_input_unit_length }}" oninput="limitInputLength(this)" class="w-full border rounded px-3 py-2 mb-4" required />
			</div>
			<div class="w-1/2">
				<!-- Date -->
				<label class="block mb-2">Date: <span class="text-red-500">*</span></label>
				<input type="date" name="date" class="w-full border rounded px-3 py-2 mb-4" required />
			</div>
		</div>
        <!-- Notes for the Transaction (optional) -->
        <label class="block mb-2">Notes:</label>
        <textarea name="notes" rows="10" class="w-full border rounded px-3 py-2 mb-4 overflow-y-auto resize-none"
        maxlength="{{ max_textbox_length }}"></textarea>
    {% endcapture %}
    {% include "partials/default_list/add_form_popup.html" with stock_name="Transaction" form_inside=add_form_content %}
{% endblock %}

{% block edit_form_popup %}
        {% capture as edit_form_content %}
        <!-- Edit form content. -->

        <!-- Notes for the Transaction (optional) -->
        <label class="block mb-2">Notes:</label>
        <textarea name="notes" id="editNotes" rows="10" class="w-full border rounded px-3 py-2 mb-4 overflow-y-auto resize-none"
         maxlength="{{ max_textbox_length }}"></textarea>
    {% endcapture %}
    {% include "partials/default_list/edit_form_popup.html" with stock_name="Transaction" form_inside=edit_form_content %}
{% endblock %}

{% block delete_popup %}
    {% include "partials/default_list/delete_popup.html" with stock_name="Transaction" %}
{% endblock %}

{% block notes_popup %}
    {% include "partials/default_list/notes_popup.html" %}
{% endblock %}

{% block qrcode_popup %}
    {% include "partials/default_list/qrcode_popup.html" with stock_name="Transactions" %}
{% endblock %}

{% block table %}
    {% capture as custom_transaction_header %}
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">ID</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Item Type</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Item ID</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Item Name</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Type</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Quantity</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Date</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Notes</th>
        <th class="py-4 px-6 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">Actions</th>
    {% endcapture %}
    {% capture as custom_transaction_rows %}
        {% for object in page_obj %}
            <tr class="hover:bg-gray-50">
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.id|default:"—" }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.item_type|default:"—" }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.item_id|default:"—" }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.item_name|default:"—" }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.transaction_type|default:"—" }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.quantity|default:"—" }}</td>
                <td class="py-4 px-6 text-sm text-gray-900">{{ object.date|default:"—" }}</td>

                {% if object.notes %}
                    <td class="py-4 px-6 text-sm">
                        <button onclick="openNotesPopup(`Notes of Transaction`,`{{ object.notes }}`)" class="bg-[#b49494] text-white py-1 px-3 rounded text-sm hover:bg-amber-900">
                            View
                        </button>
                    </td>
                {% else %}
                    <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">—</td>
                {% endif %}

                <!-- QR Code -->
                <td class="break-words max-w-sm py-4 px-6 text-sm text-gray-900">
                    <button onclick="openQRCodePopup(`QR Code of Transaction ID {{ object.id}}`,`Transactions`,`{{ object.id }}`)" class="bg-[#b49494] text-white py-1 px-3 rounded text-sm hover:bg-amber-900">
                        View
                    </button>
                </td>
                <div class="hidden">
                    <span id="qr-source-{{ object.id }}">{% generate_raw_qr 'Transactions' object.id %}</span>
                </div>

                <td class="py-4 px-6 text-sm">
                    <div class="flex space-x-2">
                        <button
                        onclick="openEditPopup(
                            ['editId','{{ object.id }}'],
                            ['editNotes','{{ object.notes|escapejs }}']
                        )"
                        class="bg-[#0D65A0] text-white py-1 px-3 rounded text-sm hover:bg-blue-700"
                        >
                            Edit
                        </button>

                        <button onclick="openDeletePopup('{{ object.id }}', '{{ object.item_type|escapejs }} ({{ object.item_name|escapejs }}) of ID {{ object.item_id|escapejs }}')"
                            class="bg-red-600 text-white py-1 px-3 rounded text-sm hover:bg-red-700">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" class="py-8 px-6 text-center text-gray-500">No transaction records found</td>
            </tr>
        {% endfor %}
    {% endcapture %}
    {% include "partials/default_list/table.html" with table_header_content=custom_transaction_header table_rows_content=custom_transaction_rows %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/transaction_list.js' %}"></script>
{% endblock %}