{% extends 'base.html' %}
{% load dict_filters %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<div class="flex flex-col flex-wrap lg:flex-row justify-between">
    <div>
        {% block header_title %}
            {% include 'partials/header_text.html' with text_given="Item Management" %}
        {% endblock %}
    </div>
    <div class="flex flex-col lg:flex-row gap-x-2">
        <!-- SEARCH BOX -->
        {% include 'partials/default_list/search_field_box.html' %}

        <!-- ADD BUTTON -->
        {% block add_list_button %}
            {% include 'partials/default_list/add_button.html' with button_text="Add Item" %}
        {% endblock %}
    </div>
</div>

{% block search_form_popup %}
{% endblock %}

{% include 'partials/default_list/search_filter_display.html' %}

{% include 'partials/error_messages.html' %}

{% block add_form_popup %}
{% endblock %}

{% block edit_form_popup %}
{% endblock %}

{% block delete_popup %}
{% endblock %}

{% block notes_popup %}
{% endblock %}

{% block table %}
{% endblock %}

{% include 'partials/pagination.html' %}

{% block javascript %}
<script src="{% static 'js/default_list.js' %}"></script>
{% endblock %}

{% endblock %}