{% extends 'base.html' %}
{% load dict_filters %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

{% block header_title %}
    {% include 'partials/header_text.html' with text_given="Item Management" %}
{% endblock %}

{% block add_list_button %}
    {% include 'partials/default_list/add_button.html' with button_text="Add Item" %}
{% endblock %}

{% include 'partials/default_list/search_field_box.html' %}

{% block search_form_popup %}
{% endblock %}

{% include 'partials/default_list/search_filter_display.html' %}

<!-- Display Error Message if Error occurs-->
{% for message in messages %}
    {% if message.level_tag == 'error' %}
    <div class="mb-4 rounded border border-red-200 bg-red-50 px-4 py-3 text-red-700">
        Error: {{ message }}
    </div>
    {% endif %}
{% endfor %}

{% block add_form_popup %}
{% endblock %}

{% block edit_form_popup %}
{% endblock %}

{% block delete_popup %}
{% endblock %}

{% block notes_popup %}
{% endblock %}

{% block table %}
{% endblock %}

{% include 'partials/pagination.html' %}

{% block javascript %}
<script src="{% static 'js/default_list.js' %}"></script>
{% endblock %}

{% endblock %}